/** Admin.aspx 后台页面 **/
body
{
    margin: 0px;
    padding: 20px;
    background:none;
}
img
{
    border:none;
}
.tree
{
    position: relative;
    border: 1px solid #DEDEDE;
    width: auto;
    height: 700px;
    float: left;
}

.tree ul
{
    overflow: hidden;
    list-style-image: url(../Images/main-left-a.gif);
}
.tree ul li
{
    padding: 8px 0px 8px 8px;
}

.tree ul li a
{
    display: block;
    font-size: 12px;
}

.tree p
{
    text-align: center;
    width: 130px;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 32px;
    padding: 0 0 .3em;
    border-bottom: 3px solid #91C900;
    color: #376585;
}

.tree ul li a:link
{
    text-decoration: none;
}

.rightHead
{
    position: relative;
    height: 40px;
    width: 120%;
    border-bottom: 3px solid #09C;
}

.nav li
{
    float: left;
    list-style-type: none;
    padding: 10px 10px 0px 10px;
    font-weight: 700;
}

.nav li a
{
    display: block;
    height: 30px;
    width: 73px;
    color: #369;
    font-style: normal;
    font-size: 12px;
}
.nav li a:link
{
    text-decoration: none;
}

.nav li:first-child
{
    background: url(../Images/btn_bg.gif) no-repeat scroll 0 0;
    height: 40px;
    padding: 0;
    overflow: hidden;
}
.nav li:first-child em
{
    background: url(../Images/btn_bg.gif) no-repeat scroll right -50px;
    display: block;
}

.nav li:first-child em a
{
    background: url(../Images/btn_bg.gif) no-repeat scroll center bottom;
    color: white;
    display: block;
    font-weight: 700;
    padding: 10px 10px 0px 10px;
}

.headTop
{
    height: 32px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #DEDEDE;
    font-size: 11px;
    color: #369;
}
.headTop a:link
{
    text-decoration: none;
}

/** alipayAccountSet.aspx 支付宝设置页面  **/

.setHead
{
    background: #EAF2FA;
    height: 35px;
    border-bottom: 1px solid #DDE9F5;
}
.setHead p
{
    font-weight: bold;
    padding: 10px;
}
.contentSet table
{
    border-bottom: 1px solid #DDE9F5;
    background: #EAF2FA;
}

/** 产品列表页面 **/

.header
{
    line-height: 29px;
    height: 29px;
    font-weight: bold;
    color: black;
    padding: 0px 8px;
    vertical-align: middle;
    background: #EAF2FA;
    border-top: 1px solid #CBDAEA;
    border-bottom: 1px solid #DEEAF7;
}

.header a:link
{
    text-decoration: none;
}
.header a
{
    color: black;
    font-size: 12px;
}
.search-button
{
    padding: 2px 3px;
    font-weight: bold;
    background: #369;
    color: white;
    height: 25px;
}

.isearcher
{
    border: 1px solid #DDE9F5;
    padding: 3px 6px;
    border-left: none;
    border-right: none;
}

thead
{
    display: table-header-group;
    vertical-align: middle;
}
.tr_nav
{
    background: #F5FAFF;
    border-bottom: 1px solid #DDE9F5;
    color: #080;
}
.tr_nav td
{
    font-size: 12px;
    line-height: 2em;
    padding: 5px 10px;
    border-right: 1px solid #F5FCFF;
    border-bottom: 1px solid #DDE9F5;
}

.tr_nav2
{
    display: table-row;
    vertical-align: inherit;
    font-size: 12px;
}
.tr_nav2 a
{
    text-decoration: none;
    color: #369;
}
.tr_nav2 td
{
    line-height: 2em;
    padding: 5px 10px;
    border-right: 1px solid #F5FCFF;
    border-bottom: 1px solid #DDE9F5;
}
.page
{
    font-size: 13px;
    margin-top: 10px;
}
.pageCount
{
    float: left;
    height: 46px;
    padding-top: 20px;
}
.pageRight
{
    float: right;
}
.pageRight ul li
{
    list-style-type: none;
}
.pageRight a
{
    text-decoration: none;
    font: 12px/20px "宋体";
    color: #333;
    border: 1px solid #DDD;
    padding: 1px 4px;
    background: white;
    margin-left: 5px;
}

.excel-button
{
    float: right;
    padding: 2px 3px;
    font-weight: bold;
    background: red;
    color: white;
}

/** 添加商家  **/
.AddTrader td
{
    line-height: 2em;
    padding: 5px 10px;
    border-right: 1px solid #F5FCFF;
    border-bottom: 1px solid #DDE9F5;
}
.AddTrader td:first-child
{
    background-color: #F4F8FC;
}

/** 添加产品 **/
.TabHeader
{
    background: #DEEAF7;
    height: 46px;
    color: #336699;
}

.TabHeader ul
{
    padding: 5px;
    height: 45px;
}

.TabHeader li
{
    text-align: center;
    list-style-type: none;
    padding: 5px 0px 0px 5px;
    float: left;
    height: 25px;
    cursor: pointer;
    background: url(../Images/idTabs.png) no-repeat scroll 0 0;
    width: 100px;
}

.basicInfo
{
    margin-top: 20px;
}

.basicInfo table tr,.piceNo table tr,.upPicture table tr,.urbanInfo table tr,.operationInfo table tr,.serviceInfo table tr
{
    height: 44px;
}

.Introduction,.upPicture,.piceNo
{
    display: none;
}

#content table tr td
{
    line-height: 2em;
    padding: 1px 2px;
    border-right: 1px solid #F5FCFF;
    border-bottom: 1px solid #DDE9F5;
}

.td_titelt
{
    background: #F4F8FC;
    text-align:right;
    width:150px;
}

.productType
{
    display: none;
}

.productType table tr
{
    height: 44px;
}
.button
{
    background: url(../Images/buttton.png) repeat-x;
    color: White;
    border: 1px solid #E36703;
    line-height: 25px;
}
.inputimg{ width:380px; height:20px; line-height:20px;}
.btnupload{ height:25px; line-height:25px;}
.selectedpage{ font-weight:bold; text-decoration:none;}

.inputlong{ width:400px; }

/** 后台默认页面 **/
#default h1 
{
	background: #EAF2FA;
	border-top: 1px solid #CBDAEA;
	border-bottom: 1px solid #DEEAF7;
	color: #9CACAF;
	font-size: 14px;
	padding: 7px 10px;
	margin: 0 0 10px 0;
	overflow: hidden;
}
#default h1 span 
{
	color:Black;
}

#default .list-div
{
	width: 100%;
	background: #EEF8F9;
	border: 1px solid #BBDDE5;
} 

#default .list-div table
{
	display: table;
	border-collapse: separate;
}

#default .list-div table th.group-title 
{
	text-align: left;
}

#default .list-div table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.list-div th 
{
	line-height: 24px;
	background: #EAF2FA;
	border-bottom: 1px solid #DEEAF7;
	white-space: nowrap;
}

.list-div td {
background: white;
line-height: 22px;
}

.boldText
{
	font-weight:bold;	
}

.figureText
{
	font-weight:normal;	
}







